/* ===========================
   FOOTER
=========================== */

#footer{

    padding:70px 0 30px;

    border-top:1px solid rgba(255,255,255,.08);

    margin-top:80px;

}

.footer-content{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    flex-wrap:wrap;

    gap:40px;

}

.footer-logo{

    max-width:420px;

}

.footer-logo h2{

    color:white;

    font-size:2rem;

    font-weight:700;

}

.footer-logo span{

    color:#8B5CF6;

}

.footer-logo p{

    margin-top:15px;

    color:#94A3B8;

    line-height:1.8;

}

.footer-links{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.footer-links a{

    color:#CBD5E1;

    text-decoration:none;

    transition:.3s;

}

.footer-links a:hover{

    color:#8B5CF6;

}

.footer-social{

    display:flex;

    gap:15px;

}

.footer-social a{

    width:48px;

    height:48px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:14px;

    background:#151B2F;

    color:white;

    text-decoration:none;

    transition:.3s;

    font-size:22px;

}

.footer-social a:hover{

    background:#8B5CF6;

    transform:translateY(-5px);

}

#footer hr{

    margin:50px 0 25px;

    border-color:rgba(255,255,255,.08);

}

.footer-bottom{

    text-align:center;

    color:#94A3B8;

    font-size:.95rem;

}