#home{
    padding-top: 140px;
    min-height: 100vh;
}
.hero-photo{
    position: relative;
    width:500px;
    height:500px;
}

.profile-image{
    position:absolute;
    width:360px;
    height:360px;
    object-fit:cover;
    border-radius:50%;
    top:60px;
    left:70px;
}

/* HERO IMAGE */

.hero-image-wrapper{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-image-wrapper::before{

    content:"";

    position:absolute;

    width:470px;
    height:470px;

    border-radius:50%;

    background:#F3F4F6;

    z-index:0;

}

.hero-image{
    position:relative;
    width:420px;
    height:420px;
    object-fit:cover;
    border-radius:50%;
    border:8px solid #ffffff;
    box-shadow:0 20px 40px rgba(0,0,0,.12);
    z-index:2;
}




.hero-subtitle{
    font-size:2rem;
    font-weight:500;
    margin-bottom:.5rem;
    background:linear-gradient(90deg,#8B5CF6,#3B82F6);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.hero-subtitle span{
    background:linear-gradient(90deg,#8B5CF6,#3B82F6);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.hero-btn{
    padding:14px 34px;
    border-radius:14px;
    background:linear-gradient(90deg,#8B5CF6,#3B82F6);
    border:none;
    font-weight:600;
    transition:.3s;
}

.hero-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(139,92,246,.35);
}

.hero-btn-outline{
    padding:14px 34px;
    border-radius:14px;
    border:1px solid rgba(255,255,255,.15);
    color:white;
}

.hero-btn-outline:hover{
    background:white;
    color:#111827;
}

.social-links a{

    display:inline-flex;

    justify-content:center;

    align-items:center;

    width:48px;

    height:48px;

    margin-right:12px;

    border-radius:12px;

    color:#374151;

    border:1px solid #E5E7EB;

    background:white;

    transition:.3s;

    box-shadow:0 6px 18px rgba(0,0,0,.06);

}

.social-links a:hover{
    background:#8B5CF6;
    transform:translateY(-5px);
}

.orbit{

    position:absolute;

    width:500px;
    height:320px;

    border:2px dashed #E5E7EB;

    border-radius:50%;

    transform:rotate(-15deg);

    z-index:1;

}

.hero-greeting{

    color:#8B5CF6;

    font-size:1rem;

    font-weight:600;

    text-transform:uppercase;

    letter-spacing:2px;

    margin-bottom:10px;

}

.hero-title{

    color:#303a47;

    font-size:3rem;

    font-weight:800;

    line-height:1.1;

    margin-bottom:15px;

}

.hero-description{

    color:#4B5563;

    font-size:1.2rem;

    line-height:1.9;

}